/*author: Matthew Mellea*/
/* Background pattern from subtlepatterns.com */
/*animations credit to Yoni (jarvispa.info)*/
html, body{
	margin:0;
	padding:0;
	height:100%;
}
body {
	font-family: 'Ovo', serif;
	background-image: url(../assets/debut_dark.png);
	color: #AC8ECC;
}
a {
	text-decoration: none;
	white-space: nowrap;
	text-decoration: none; 
	color: #B8336A;
}
a:focus,
a:hover {
	color: #CEE5F2;
	text-decoration: none;
}


p {
	line-height: 1.5;
	margin: 0;
	font-family: 'Ovo';
	color: #AC8ECC;
}
p + p {
	margin-top: 10px;
}
h1 {
	text-transform: lowercase;
	font-size: 50px;
}

li{}

h1,
h2,
h3,
h4 {
	font-family: 'Ovo', serif;
	margin-top: 0;
	color:#AC8ECC;

}
section {
	margin-top: 30px;
}
li {
	line-height: 1.8;
	list-style: none;
}

blockquote {
	border-left: 5px solid #e7e9ec;
	font-size: 14px;
}
em {
	color: #95a5a6;
	font-weight: normal;
	font-style: normal;
}

section {
	width: 95%;
    margin: 0 auto !important;
    padding: 10px;
	text-align: center;
}
h1>a {
	color: #AC8ECC;
}

.wrapper {
	min-height:100%;
	position:relative;
}
.header>div{
	padding:10px; 
	float: left;
	padding-top: 30px;

}
.navbar {
	font-size: 24px;
}
section.header{
	height: 140px;
}
section.content{
	max-height: 100%;
	text-align: left;
	padding-top:20px;
}

div.welcome {
	width:40%;
	max-height: 100%;
	float: left;
	text-align: left;
}

.welcome>p{
	font-size: 18px;
}
class.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav>li>a:focus,.nav>li>a:hover{
	padding-bottom: 1px;
	background: url("../assets/icons/underline.gif") bottom no-repeat;
	text-decoration:none;
	background-color:transparent;
}

div.center{
    line-height: 200px;
    margin-top: -200px;
    padding-top: 100px;
	margin:0 auto;
	text-align: center;
    width: 100%;
}

div.thumbnail {
	border: 2px dashed #ACCBE1;
	background-color: #8E8DBE;
	padding: 5px;
	border-radius:5px;

}
div.thumbnail:hover{
	border: 2px dashed #ACCBE1;
	/* hovering to #CEE5F2 is a nice effect, but since it's not yet a real link I' not using it*/
}

.thumbnail>img{
	padding: 15px 0px 8px 0px;
	max-height: 220px;
	width: 90%;

}

p.download, .download>a {
	font-size: 30px;
	font-family: 'Ovo';
	text-rendering:optimizeLegibility;
	color:#8E8DBE;

}
a.bright,.bright>li>a{
	color: #B8336A;
}
a.bright:hover {
	text-decoration:none;
	color: #CEE5F2;
}

.long-underline:hover{
	background: url("../assets/icons/underlinelong.gif") bottom no-repeat;

}

.caption>h3,.caption>p {
	color:#CEE5F2;
}

p.overflow {
    width: 95%;
  	margin: 0 0 2em 0;
  
	  /**
	   * Required properties to achieve text-overflow
	   */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer>p{
	color:#AC8ECC;
}
