/*author: Matthew Mellea*/

@import url(
	https://fonts.googleapis.com/css?family=Lato:400,700
);
body {
	background: #fff;
	font-family: 'Josefin Slab', sans-serif;
	margin: 0 0 80px;
}
a {
	color: #000000;
	text-decoration: none;
	
	white-space: nowrap;
	text-decoration: none; 
	font-family: 'Ovo';
}
a:focus,
a:hover {
}

.nav>li>a:focus,.nav>li>a:hover{
	padding-bottom: 1px;
	background: url("../assets/icons/underline2.gif") bottom no-repeat;
	text-decoration:none;background-color:transparent;
}
p {
	line-height: 1.5;
	margin: 0;
}
p + p {
	margin-top: 10px;
}
h1 {
	text-transform: lowercase;
	font-size: 40px;
}

li{}

h1,
h2,
h3,
h4 {
	font-family: 'Ovo', serif;
	margin-top: 0
}
section {
	margin-top: 30px;
}
li {
	line-height: 1.8;
	list-style: none;
}

blockquote {
	border-left: 5px solid #e7e9ec;
	font-size: 14px;
}
em {
	color: #95a5a6;
	font-weight: normal;
	font-style: normal;
}

section {
	width: 95%;
	display: block;
    width: 95%;
    margin: 0 auto !important;
}

.header>div{
	padding:10px; 
	float: right;
}

