#mellea {
	display: inline-block;
}

#mellea:hover #mell {
	-webkit-animation: mell 0.5s;
	animation: mell 0.5s;
	left: 2.25em;
}

#mellea:hover #ea {
	-webkit-animation: ea 0.5s;
	animation: ea 0.5s;
	left: -1.25em;
}

#mell, #ea {
	position: relative;
	left: 0;
}

@keyframes mell {
	0% {
		left: 0;
	}

	25% {
		left: 0;
	}

	50% {
		left: 2.25em;
	}

	100% {
		left: 2.25em;
	};
}

@-webkit-keyframes mell {
	0% {
		left: 0;
	}

	25% {
		left: 0;
	}

	50% {
		left: 2.25em;
	}

	100% {
		left: 2.25em;
	};
}

@keyframes ea {
	0% {
		left: 0;
	}

	12.5% {
		top: 0;
	}

	37.5% {
		top: -0.75em;
	}

	50% {
		top: -0.75em;
		left: 0;
	}

	75% {
		top: -0.75em;
		left: -1.25em;
	}

	100% {
		top: 0;
		left: -1.25em;
	};
}

@-webkit-keyframes ea {
	0% {
		left: 0;
	}

	12.5% {
		top: 0;
	}

	37.5% {
		top: -0.75em;
	}

	50% {
		top: -0.75em;
		left: 0;
	}

	75% {
		top: -0.75em;
		left: -1.25em;
	}

	100% {
		top: 0;
		left: -1.25em;
	};
}